/* set body to full height of viewport */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  form {
    max-width: 500px;
    background-color: #f7f7f7;
    border-radius: 4px;
    padding: 20px;
    width: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-error {
    color: red;
    margin-bottom: 10px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #202123;
  }
  
  nav li {
    float: right;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.5vh 30px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #3f3f3f;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3f3f3f;
    min-width: 140.433px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #202123;
  }
  
  .dropdown.active .dropdown-content {
    display: block;
  }
  
  /* set header and footer height, and background color */
  header {
    color: white;
    text-decoration: none;
    background-color: #202123;
  }
  
  footer {
    color: white;
    height: 5vh;
    background-color: #202123;
  }
  
  /* make main take up remaining space */
  main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }