{% extends 'base.html' %}

{% block content %}
  <h1>CS Forum</h1>
  <div class="desc">
    <p>
        Welcome to our Computer Science and technology forum. This is a place meant for people to come together and discuss the latest technologies, or just technology related topics in general.
        You can seek help with your personal project or as for reccomendations on tools to use to complete your projects. Or you can just chat with people about technologies in various fields.
        Please come and join us in discussing many different topics related to many different fields if you're interested. Just click register in the bar above in order to sign up and the log in
        to access the forum.
    </p>
  </div>
{% endblock %}
