{% extends 'base.html' %}

{% block content %}
  <form method="POST">
    <h2>Login</h2>
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.username(class="form-control", placeholder="Username") }}
    </div>
    <div class="form-group">
      {{ form.password(class="form-control", placeholder="Password") }}
    </div>
    <div class="form-group form-check">
      {{ form.remember_me(class="form-check-input") }}
      <label class="form-check-label" for="{{ form.remember_me.id }}">Remember me</label>
    </div>
    <input type="submit" class="btn btn-primary" value="Login">
  </form>
{% endblock %}