{% extends 'base.html' %}

{% block content %}
<h1>Post a Reply</h1>
<h2>Content you are replying to:</h2>
  <div class="card mb-3">
    <h3 class="card-header">{{ post.title }}</h3>
    <div class="card-body">
      <p class="card-text">{{ post.content }}</p>
    </div>
  </div>

  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.content.label() }}
      {{ form.content(class="form-control") }}
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
  </form>
{% endblock %}